week_1/circom-dir/.github
week_1/circom-dir/circom
week_1/circom-dir/circom_algebra
week_1/circom-dir/code_producers
week_1/circom-dir/compiler
week_1/circom-dir/constant_tracking
week_1/circom-dir/constraint_generation
week_1/circom-dir/constraint_list
week_1/circom-dir/constraint_writers
week_1/circom-dir/dag
week_1/circom-dir/mkdocs
week_1/circom-dir/parser
week_1/circom-dir/program_structure
week_1/circom-dir/target
week_1/circom-dir/type_analysis
week_1/circom-dir/Cargo.lock
week_1/circom-dir/Cargo.toml
week_1/circom-dir/README.md
week_1/circom-dir/rustfmt.toml
week_1/circom-dir/merkle_root_cpp
week_1/circom-dir/merkle_root_js
week_1/circom-dir/merkle_root_0000.zkey
week_1/circom-dir/merkle_root_0001.zkey
week_1/circom-dir/merkle_root.r1cs
week_1/circom-dir/merkle_root.sym
week_1/circom-dir/pot12_0000.ptau
week_1/circom-dir/pot12_0001.ptau
week_1/circom-dir/pot12_final.ptau
week_1/circom-dir/witness.wtns