week_1/.github
week_1/circom
week_1/circom_algebra
week_1/code_producers
week_1/compiler
week_1/constant_tracking
week_1/constraint_generation
week_1/constraint_list
week_1/constraint_writers
week_1/dag
week_1/mkdocs
week_1/parser
week_1/program_structure
week_1/target
week_1/type_analysis
week_1/Cargo.lock
week_1/Cargo.toml
week_1/README.md
week_1/rustfmt.toml
week_1/merkle_root_cpp
week_1/merkle_root_js
week_1/merkle_root_0000.zkey
week_1/merkle_root_0001.zkey
week_1/merkle_root.r1cs
week_1/merkle_root.sym
week_1/pot12_0000.ptau
week_1/pot12_0001.ptau
week_1/pot12_final.ptau
week_1/witness.wtns